{
  "plugins": [
    "react-native",
    "react-hooks",
    "import"
  ],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-native/all",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.eslint.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "react-native/no-raw-text": 0,
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": [
          "PascalCase"
        ],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/member-delimiter-style": [
      2,
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": false
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "react/prop-types": "off",
    "react-native/sort-styles": "off",
    "react/prefer-stateless-function": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "keyword-spacing": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "no-console": "error",
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "max-lines": [
      2,
      {
        "max": 150,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "max-lines-per-function": [
      "error",
      {
        "max": 120,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "complexity": [
      "error",
      4
    ],
    "import/no-dynamic-require": "error",
    "import/no-useless-path-segments": [
      "error",
      {
        "commonjs": false
      }
    ],
    "import/no-self-import": "error"
  },
  "settings": {
    "react": {
      "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
    },
    "import/resolver": {
      "babel-module": {},
      "typescript": {}
    },
    "import/extensions": [
      ".js",
      ".jsx",
      ".ts",
      ".tsx"
    ]
  },
  "env": {
    "react-native/react-native": true
  },
  "ignorePatterns": [
    "index.js",
    "scripts/**/*"
  ]
}